body {
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    scroll-behavior: smooth;
}

header {
    background-color: #333;
    color: white;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

header nav a:hover {
    background-color: #555;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 80px 20px 20px;
}

.section {
    padding: 60px 0;
    border-bottom: 1px solid #ddd;
}

.section h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    position: relative;
}

.section h2:after {
    content: '';
    width: 100px;
    height: 4px;
    background-color: #4CAF50;
    display: block;
    margin: 10px auto 0;
}

.home, .about, .skills, .experience, .contact {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.home {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.home img {
    border-radius: 60%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.171);
}

.home h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.home p {
    font-size: 1.2em;
    color: #777;
}

.skills ul, .experience ul {
    list-style-type: none;
    padding: 0;
}

.skills ul li, .experience ul li {
    background-color: #e9e9e9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.s;
}

.skills ul li:hover, .about ul li:hover, .experience ul li:hover {
    background-color: #d3d3d3;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact form input, .contact form textarea {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
}
.about  ul li{
    background-color: #e9e9e9;
    margin: 10px ;
    padding: 15px;
    margin-left: -35px;
    border-radius: 5px;
    transition: background-color 0.3s;
    list-style-type: none;
}
.about {
    padding-bottom: 100px;
}
.skills{
    padding-bottom: 100px;
}
.experience{
    padding-bottom: 100px;
}
.contact{
    padding-bottom: 100px;
}
a{
    color: #333;
    margin-left: 20px;
    margin-right: 20px;
}
.icon{
    text-align: center;
}
a{
    text-decoration: none;
}
